In [38]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-01.csv.gz')
df.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00001,2019-01-01 00:30:00,2019-01-01 02:51:55,NaN,NaN,NaN,B00001
1,B00001,2019-01-01 00:45:00,2019-01-01 00:54:49,NaN,NaN,NaN,B00001
2,B00001,2019-01-01 00:15:00,2019-01-01 00:54:52,NaN,NaN,NaN,B00001
3,B00008,2019-01-01 00:19:00,2019-01-01 00:39:00,NaN,NaN,NaN,B00008
4,B00008,2019-01-01 00:27:00,2019-01-01 00:37:00,NaN,NaN,NaN,B00008

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23143222 entries, 0 to 23143221
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   dispatching_base_num    object
 1   pickup_datetime         object
 2   dropOff_datetime        object
 3   PUlocationID            float64
 4   DOlocationID            float64
 5   SR_Flag                 float64
 6   Affiliated_base_number  object
dtypes: float64(3), object(4)
memory usage: 1.2+ GB

In [50]:
df['DOlocationID'] = df['DOlocationID'].astype('Int64')

In [51]:
df['DOlocationID']

0           <NA>
1           <NA>
2           <NA>
3           <NA>
4           <NA>
            ...
23143217     265
23143218     265
23143219     265
23143220     265
23143221     265
Name: DOlocationID, Length: 23143222, dtype: Int64